@font-face {
  font-family: Nunito;
  src: url(./fonts/Nunito.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 16.0002px;
  font-weight: 400;
  line-height: 1.6;
  font-family: Nunito;
  color: RGBA(0,0,0,1);
  color: RGBA(var(--primary-text),1);
  background-color: RGBA(255,255,255,1);
  background-color: RGBA(var(--primary-bg--alt),1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navigation Bar start */

nav {
  display: flex;
  width: 100%;
  height: 102px;
  padding-right: 30px;
  position: sticky;
  justify-content: end;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  border-bottom: 1px solid rgba(187, 181, 181, 0.5);
  background-color: #292784;
  z-index: 3;
  gap: 200px;
}

.container-navitem{
  display: flex;
  height: 100%;
  gap: 20px;
}

.navitem{
  height: 100%;
  align-items: center;
  line-height: 102px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.navitem:hover{
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-position: auto;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.underline{
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-position: auto;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.container-search{
  display: flex;
  width: 78px;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(187, 181, 181, 0.5);
}

.container-search:hover{
  background-color: rgb(81, 40, 192);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 19px;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Navigation bar end */


/* Side bar start */

.container-sidebar{
  width: 10.6%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  z-index: 3;
  background-color: white;
  box-shadow: 3px 10px 10px 0 rgba(0, 0, 0, 0.25);
  align-items: center;
}

.container-logo{
  display: flex;
  width: 100%;
  height: 102px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.sidebar-title{
  transform: rotate(-90deg);
  width: 330%;
  margin-top: 220px;
}

.sidebar-title p{
  font-size: 26px;
  font-weight: 600;
}

/* Side bar end */

.body {
  width: 100%;
  overflow-x: hidden;
  padding-left: 10.6%;
}

.form-search{
  width: 30%;
  text-align: left;
}

.form-search label{
  font-weight: 700;
  font-size: 16px;
}

.search-box{
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  align-items: center;
}

.search-button{
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.search-box input{
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 50px;
  background-color: white;
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.1);
}

.container-video{
  padding: 10px;
}

video{
  width: 100%;
}

.header-content{
  margin-top: 30px;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  padding-left: 20px;
}

.container-content{
  width: 100%;
}

.content{
  width: 25%;
  height: 330px;
  display: flex;
  gap: 13px;
  flex-direction: column;
  float: left;
  padding: 5px;
  margin: 40px;
  cursor: pointer;
}

.content img{
  image-rendering: auto;
  min-height: 236px;
  object-fit: cover;
}

.detail-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 5px;
  gap: 3px;
}

.title-content{
  font-size: 16px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.text-content{
  font-size: 18px;
  line-height: 1.45;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4; 
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.text-content:hover{
  text-decoration: underline;
}

.footer{
  clear: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 10px 10px;
  padding-right: 30px;
  background-color: #292784;
  margin-top: 20px;
}

.title-footer{
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.links-footer{
  display: flex;
  width: fit-content;
  justify-content: space-evenly;
  align-items: center;
  gap: 7px;
  text-align: center;
}

.links-footer p{
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.footer-icons{
  font-size: 16px;
  font-weight: 600;
  color: #35a9df;
  margin-right: 5px;
}

.copyright{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #C4C4C4;
}

.container-berita{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.judul-berita{
  font-size: 34px;
  font-weight: 700;
  width: 100%;
  padding: 10px 20px;
}

.isi-berita{
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  padding: 10px 20px;
}

.container-hero{
  position: relative;
  width: 100%;
  padding: 15px 10px;
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
}

.container-title-hero{
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.title-hero{
  font-size: 40px;
  font-weight: 900;
  color: white;
}

.subtitle-hero{
  font-size: 20px;
  font-weight: 900;
  color: white;
}

.container-text-about{
  width: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
}

.title-text-about{
  font-size: 32px;
  font-weight: 700;
}

.container-text-about p{
  font-size: 20;
}

.container-text{
  width: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 40px;
}

.title{
  font-size: 40px;
  font-weight: 700;
}

.subtitle{
  font-size: 24px;
  font-weight: 700;
}

.text{
  font-size: 20px;
}

.container-header-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
}

.container{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1080px) {
   .container-navitem {
      width: 60%;
      height: 100%;
      padding-top: 78px;
      display: flex;
      opacity: 0;
      justify-content: start;
      position: fixed;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      transition: all 0.4s;
      top: 0;
      bottom: 0;
      right: 0;
      transform: translateX(500px);
      gap: 20px;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .navitem{
      width: 100%;
      height: 30px;
      line-height: 30px;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      text-shadow: 0px 0px 1px black;
    }

    .wrapper-navitem{
      display: flex;
      padding: 20px 0px;
      flex-direction: column;
      width: 100%;
      height: 200px;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid rgba(61, 59, 59, 0.671);
    }

    .slide {
      opacity: 1;
      transform: translateY(0px);
    }

    .menu-toggle {
      display: flex;
      position: fixed;
    }

    .menu-toggle:hover{
      cursor: pointer;
    }

    .form-search{
      width: 50%;
      margin-right: 60px;
    }

    .body{
      padding-left: 13.6%;
    }

    .container-sidebar{
      width: 13.6%;
    }

    .sidebar-title{
      margin-top: 200px;
    }

    .sidebar-title p{
      font-size: 24px;
    }

    .content{
      width: 30%;
      margin: 10px;
    }
}
@media screen and (max-width: 768px) {

  .body{
    padding-left: 15%;
  }

  .container-sidebar{
      width: 15%;
    }

  .form-search{
    width: 80%;
    margin-right: 40px;
  }

  .search-button{
    width: 22px;
    height: 22px;
  }

  .sidebar-title{
    width: 430%;
  }

  .sidebar-title p{
    font-size: 22px;
  }

  .container-logo img{
    width: 100%;
  }

  .navitem{
  font-size: 16px;
  font-weight: 400;
}

  .detail-hero p {
    font-size: 22px;
  }

  .action-hero{
    margin-top: 10px;
  }

  .header-content{
    font-size: 22px;
  }

  .content{
    width: 40%;
    margin: 20px;
  }

  .text-content{
    font-size: 17px;
    margin-bottom: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6; 
    -webkit-box-orient: vertical;
  }

  .title-hero{
  font-size: 26px;
}

.subtitle-hero{
  font-size: 10px;
}

.container-text-about{
  width: 100%;
  gap: 7px;
}

.title-text-about{
  font-size: 24px;
}

.container-text-about p{
  font-size: 14px;
}

.container-text{
  gap: 30px;
}

.title{
  font-size: 30px;
}

.subtitle{
  font-size: 18px;
  font-weight: 700;
}

.text{
  font-size: 14px;
}

}
  @media screen and (max-width: 506px) {
    
    nav{
      height: 82px;
      padding-right: 20px;
    }

    .search-box input {
      font-size: 14px;
    }

    .container-logo{
      height: 82px;
    }

    .footer p{
      font-size: 12px;
    }

    .sidebar-title{
      width: 600%;
    }

    .sidebar-title p{
      font-size: 20px;
    }

    .content{
    width: 90%;
  }

  .judul-berita{
  font-size: 24px;
}

.isi-berita{
  font-size: 14px;
}

.title-hero{
  font-size: 25px;
}

.subtitle-hero{
  font-size: 12px;
}

}

@media screen and (max-width: 506px) {
  .sidebar-title{
    width: 700%;
  }
}