*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 16.0002px;
  font-weight: 400;
  line-height: 1.6;
  font-family: MessinaSans,sans-serif;
  color: RGBA(0,0,0,1);
  color: RGBA(var(--primary-text),1);
  background-color: RGBA(255,255,255,1);
  background-color: RGBA(var(--primary-bg--alt),1);
  -moz-font-feature-settings: "liga" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  width: 100%;
  height: 78px;
  padding-left: 30px;
  position: fixed;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  border-bottom: 1px solid rgba(187, 181, 181, 0.5);
  background-color: white;
  z-index: 1;
}

.container-logo{
  display: flex;
  width: 193px;
  height: 43px;
  gap: 10px;
  align-items: center;
}

.container-logo p {
  font-size: 12px;
  color: black;
  font-weight: 800;
  line-height: 1.2;
}

.container-logo p:hover{
  color: rgb(21, 9, 187);
}

.container-logo img {
  height: 43px;
}

.container-navitem{
  display: flex;
  height: 100%;
  gap: 20px;
}

.navitem{
  height: 100%;
  align-items: center;
  line-height: 78px;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.navitem:hover{
  text-decoration: underline;
  text-decoration-color: rgb(67, 32, 163);
  text-underline-position: auto;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.underline{
  text-decoration: underline;
  text-decoration-color: rgb(67, 32, 163);
  text-underline-position: auto;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.container-search{
  display: flex;
  width: 78px;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(187, 181, 181, 0.5);
}

.container-search:hover{
  background-color: rgb(81, 40, 192);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 19px;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s;
}

.body {
  width: 100%;
  padding-top: 78px;
  overflow-x: hidden;
}

.form-search{
  width: 60%;
  margin: auto;
  margin-top: 50px;
  text-align: left;
}

.form-search label{
  font-weight: 700;
  font-size: 16px;
}

.search-box{
  display: flex;
  position: relative;
  width: 100%;
  height: 78px;
  margin-top: 5px;
  align-items: center;
}

.search-button{
  position: absolute;
  left: 15px;
}

.search-box input{
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px 56.5px;
  background-color: transparent;
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.1);
}

.container-hero{
  display: flex;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
}

.container-hero img {
  cursor: pointer;
}

.detail-hero{
  padding: 25px;
  padding-top: 15px;
  color: white;
  background-color: rgb(8, 44, 85);
}

.detail-hero p{
  font-size: 26px;
  font-weight: 400;
  line-height: 1.3em;
}

.action-hero{
  display: flex;
  margin-top: 5px;
}

.header-content{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: 700;
  text-align: center;
}

.container-content{
  width: 100%;
  padding: 5px;
}

.content{
  width: 50%;
  height: 630px;
  display: flex;
  gap: 13px;
  flex-direction: column;
  float: left;
  padding: 5px;
}

.content img{
  cursor: pointer;
}

.detail-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 5px;
  gap: 3px;
}

.title-content{
  font-size: 14px;
  font-weight: 700;
}

.text-content{
  font-size: 18px;
  line-height: 1.45;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4; 
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.text-content:hover{
  text-decoration: underline;
}

.footer{
  clear: left;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
  margin-left: 30px;
  padding-top: 30px;
}

.title-footer{
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.8);
}

.location-footer{
  font-size: 14px;
  font-weight: 400;
  color: inherit;
}

.location-footer:hover{
  text-decoration: underline;
}

.links-footer{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 7px;
}

@media screen and (max-width: 1080px) {
  nav{
    padding-right: 30px;
  }

  .container-search{
    display: none;
  }

   .container-navitem {
      width: 60%;
      height: 100%;
      padding-top: 78px;
      display: flex;
      opacity: 0;
      justify-content: start;
      position: fixed;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      transition: all 0.4s;
      top: 0;
      bottom: 0;
      right: 0;
      transform: translateX(500px);
      gap: 20px;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .navitem{
      width: 100%;
      height: 30px;
      line-height: 30px;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      text-shadow: 0px 0px 1px black;
    }

    .wrapper-navitem{
      display: flex;
      padding: 20px 0px;
      flex-direction: column;
      width: 100%;
      height: 200px;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid rgba(61, 59, 59, 0.671);
    }

    .slide {
      opacity: 1;
      transform: translateY(0px);
    }

    .menu-toggle {
      display: flex;
    }

    .menu-toggle:hover{
      cursor: pointer;
    }

  .content{
  height: 540px;
}
}
@media screen and (max-width: 768px) {
  .form-search{
    width: 93%;
    margin-top: 25px;
  }

  .search-box{
    height: 60px;
  }

  .search-box input {
    padding: 0px 46.5px;
  }

  .search-button{
    width: 22px;
    height: 22px;
    left: 15px;
  }

  .detail-hero p {
    font-size: 22px;
  }

  .action-hero{
    margin-top: 10px;
  }

  .content{
    width: 100%;
    height: auto;
  }

  .text-content{
    font-size: 17px;
    margin-bottom: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6; 
    -webkit-box-orient: vertical;
  }

  .footer{
    margin-left: 15px;
  }
}
  @media screen and (max-width: 490px) {
    
}